<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pricing application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                {# Ce menu déroulant n'est accessible -- que -- pour les administateurs de l'application #}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('state_index') }}">State</a>
                        <a class="dropdown-item" href="{{ path('user_index') }}">User</a>
                        <a class="dropdown-item" href="{{ path('product_index') }}">Product</a>
                        <a class="dropdown-item" href="{{ path('product_for_sale_index') }}">Product for sale</a>
                    </div>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sell') }}">Sell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>



        </ul>

        {% if app.user %}
            <form action="{{ path('search') }}" class="form-inline my-2 my-lg-0">
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="chercher un jeu" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}

    </div>
</nav>